%article{class: 'article-description media'}
  .article-header 
    = render partial: 'articles/article_categories', locals: { article: article }     
    %div{ class: "article-added"}= article.created_at.to_time.strftime("%Y-%m-%d %H:%M")
  - img = get_image(article.description)
  = link_to( image_tag(img, class: 'media-object'), article, class: 'pull-left' ) if img
  .media-body
    %h3.media-heading= link_to article.title, article
    .article-body= Sanitize.clean(article.description).html_safe
    .article-footer
      = link_to 'Читать дальше', article
      = render partial: 'articles/article_tags', locals: { article: article }       
