%article.article-description    
  .article-header 
    %ul{ class: "inline pull-right" }
      -article.categories.each do |category|
        %li{ class: "label label-info" }= link_to category.title, category, class: "article-category"       
    %div{ class: "article-added"}= article.created_at.strftime("%Y-%m-%d %H:%M")
    %h3= link_to article.title, article
  .article-body= article.description.html_safe
  .article-footer
    = link_to 'Читать дальше', article
    .article-tags
      %strong Теги:
      %ul.inline
        -article.tag_list.each do |tag|
          %li{ class: "badge badge-info" }= link_to tag, '#', class: "article-tag" 
