%h2.article-name= article.title
%article   
  .article-header      
    %div{ class: "label label-info pull-right" }= link_to 'News', '#', class: "article-category"
    %div{ class: "article-added"}= article.created_at.strftime("%Y-%m-%d %H:%M")    
  .article-body= article.content.html_safe
  .article-footer
    .article-tags
      %strong Теги:
      %ul.inline
        %li{ class: "badge badge-info" }= link_to 'Bwah', '#', class: "article-tag"
        %li{ class: "badge badge-info" }= link_to 'Sugoi', '#', class: "article-tag"
.share-buttons
  .pull-right
    %strong Поделиться: 
    =link_to image_tag('twitter.png'), 'http://twitter.com/share?url=' + article_url(article), target: '_blank'
    =link_to image_tag('vk.png'), 'http://vkontakte.ru/share.php?url=' + article_url(article), target: '_blank'
    =link_to image_tag('facebook.png'), 'http://www.facebook.com/sharer.php?u=' + article_url(article), target: '_blank'
    =link_to image_tag('google+.png'), 'https://plus.google.com/share?url=' + article_url(article), target: '_blank'
.comments
  %ul{class: "nav nav-tabs", id: "comments"}
    %li.active= link_to 'Вконтакте', '#vk', 'data-toggle' => 'tab'
    %li= link_to 'Disqus', '#dq', 'data-toggle' => 'tab'
  .tab-content
    %div{class: "tab-pane active", id: "vk"}
      %script{:type => "text/javascript",
              :src  => "http://userapi.com/js/api/openapi.js?52"}
      :javascript
        VK.init({apiId: SITE_ID, onlyWidgets: true});
      #vk_comments
      :javascript
        VK.Widgets.Comments("vk_comments", {limit: 15, width: "600", attach: false});
    %div{class: "tab-pane", id: "dq"}
      #disqus_thread
      :javascript
        var disqus_shortname = 'YOUR_SITE_NAME'; // required: replace example with your forum shortname
    
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
      %noscript
        Please enable JavaScript to view the
        %a{href: "http://disqus.com/?ref_noscript"} comments powered by Disqus.
      %a{href: "http://disqus.com", class: "dsq-brlink"}
        comments powered by
        %span.logo-disqus Disqus